<svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1.5 0.804565H4.31153L6.77303 11.0286H17.5V4.69322L4.86222 3.09188" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M6.80109 10.9896L4.86283 13.2335C4.39852 13.771 4.78038 14.6054 5.49068 14.6054H17.062" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M8.64071 17.1954C9.35592 17.1954 9.93572 16.6156 9.93572 15.9004C9.93572 15.1852 9.35592 14.6054 8.64071 14.6054C7.9255 14.6054 7.3457 15.1852 7.3457 15.9004C7.3457 16.6156 7.9255 17.1954 8.64071 17.1954Z" stroke="white" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M14.7559 17.1954C15.4712 17.1954 16.051 16.6156 16.051 15.9004C16.051 15.1852 15.4712 14.6054 14.7559 14.6054C14.0407 14.6054 13.4609 15.1852 13.4609 15.9004C13.4609 16.6156 14.0407 17.1954 14.7559 17.1954Z" stroke="white" stroke-width="1.3" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
<span class="visually-hidden">{{ 'general.cart.view' | t }}</span>
