{{ 'section-simple-cta.css' | asset_url | stylesheet_tag }}

<section class="simple-cta">
  <div class="container">
    <div class="simple-cta__wrapper">
      <div class="simple-cta__content">
        <div class="simple-cta__content-left">
          {% if section.settings.subheading != blank %}
            <p class="simple-cta__subheading body-3">{{ section.settings.subheading }}</p>
          {% endif %}

          {% if section.settings.heading != blank %}
            <h2 class="simple-cta__heading">{{ section.settings.heading | newline_to_br }}</h2>
          {% endif %}

          {% if section.settings.body != blank %}
            <p class="simple-cta__body">{{ section.settings.body | newline_to_br }}</p>
          {% endif %}
        </div>
        <div class="simple-cta__content-right">
        {% if section.settings.button_label != blank %}
          {% render 'button',
            btn_label: section.settings.button_label,
            btn_link: section.settings.button_link,
            btn_arrow: false,
            class: 'simple-cta__button'
          %}
        {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Simple CTA",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Get started Now"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading",
      "default": "Ready to elevate your brand?"
    },
    {
      "type": "textarea",
      "id": "body",
      "label": "Body text",
      "default": "Transform your brand with personalized decorating and convenient on-demand printing solutions today!"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Get In Touch"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Simple CTA"
    }
  ]
}
{% endschema %}
