.testimonials {
  width: 100%;
  overflow: hidden;
  background-color: #F6F7FB;
  padding-top: 40px;
  padding-bottom: 40px;
}

.testimonials.white-bg {
  background: #ffffff;
}

@media screen and (min-width: 750px) {
.testimonials {
  padding-top: 60px;
  padding-bottom: 60px;
}
}

.testimonials-heading-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.testimonials-heading-container > *:last-child {
  margin-bottom: 0;
}

.testimonials-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.testimonials-images-slider-slide {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--border-radius-block);
}

.testimonials-images-slider-image {
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: var(--border-radius-block);
}

.testimonials-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.testimonials-main-header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 4rem;
  row-gap: 0.8rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid rgb(var(--color-border));
}
@media screen and (min-width: 750px) {
  .testimonials-main-header {
    row-gap: 1rem;
    padding-bottom: 1.6rem;
  }
  .testimonials-heading-container {
    margin-bottom: 40px;
  }
}
.testimonials-main-header__text {
  color: rgb(var(--color-foreground-secondary));
}
.testimonials-slider {
  width: 100%;
}
.testimonials-slider-slide {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.testimonials-slider-slide__image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  overflow: hidden;
  border-radius: var(--border-radius-block);
  margin-bottom: 2rem;
}
.testimonials-slider-slide__image-wrapper img {
  width: 40px;
  height: 40px;
}
.testimonials-slider-slide {
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  padding: 20px;
  box-shadow: 0px 10px 20px 0px #B9BABE1A;
}
.testimonials-slider-slide__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}
.testimonials-slider-slide__author {
  font-weight: 500;
}
.testimonials-slider-slide__job {
  color: #5E6D7E;
}
.testimonials-slider-slide__image-wrapper .placeholder-svg {
  display: block;
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
.testimonials-slider-slide__image {
  display: block;
  width: 40px;
  height: 40px;
  object-position: center;
  border-radius: 50%;
}
.testimonials-slider-slide__text {
  font-weight: 400;
  color: #1A1A1A;
}
.testimonials-slider-slide__rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.2rem;
  color: #FFB23F;
  margin-bottom: 16px;
}
.testimonials-slider-slide__text {
  width: 100%;
}
