.hero-banner {
  width: 100%;
  margin-top: 12px;
}

.hero-background {
  width: 100%;
  height: 100%;
  min-height: 464px;
  position: absolute;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  background-size: cover;
  z-index: -1;
  border-radius: 32px;
}

.hero-banner-main {
  width: 100%;
  min-height: 464px;
  display: grid;
  position: relative;
}

.hero-banner-main--align-image-left {
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

@media screen and (min-width: 750px) {
  .hero-banner {
    margin-top: 32px;
  }
}

.hero-banner-img-wrapper {
  width: 100%;
  height: 65%;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  display: flex;
  left: 0;
  justify-content: space-between;
}

.hero-banner-img--left {
  max-width: 285px;
  max-height: 285px;
  position: absolute;
  left: 0;
  bottom: -7%;
  object-fit: contain;
}

.hero-banner-img--right {
  max-width: 375px;
  max-height: 330px;
  position: absolute;
  right: 0;
  bottom: -10%;
  object-fit: contain;
}

.hero-banner-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 40px 0px;
  margin-left: 80px;
}

@media screen and (max-width: 750px) {
  .hero-banner-content {
    margin-left: 0;
    padding: 80px 20px;
    background: #0000003b;
    border-radius: 32px;
    text-align: center;
  }
  .hero-banner-img--left {
    max-width: 47%;
    max-height: 210px;
    bottom: -8%;
    left: 0%;
  }
  .hero-banner-img--right {
    max-width: 50%;
    max-height: 220px;
    bottom: -13%;
    right: 0;
  }
}

@media screen and (min-width: 750px) {
  .hero-banner-content {
    padding-top: 100px;
  }
}

.hero-banner-content__subheading,
.hero-banner-content__heading,
.hero-banner-content__text {
  color: #fff;
}
.hero-banner-content__subheading b,
.hero-banner-content__heading b,
.hero-banner-content__text b {
  color: #FFD62C;
}
.hero-banner-content__text b {
  font-weight: 400;
}

.hero-banner-content__subheading:not(:last-child) {
  margin-bottom: 1.2rem;
}

@media screen and (min-width: 1200px) {
  .hero-banner-content__subheading:not(:last-child) {
    margin-bottom: 1.6rem;
  }
}

.hero-banner-content__heading {
  word-break: break-word;
}

.hero-banner-content__heading strong {
  color: #1D81F9;
}

.hero-banner-content__heading:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .hero-banner-content__heading:not(:last-child) {
    margin-bottom: 24px;
  }
}

.hero-banner-content__text {
  max-width: 100%;
  word-break: break-word;
  max-width: 550px;
}

.hero-banner-content__text:not(:last-child) {
  margin-bottom: 32px;
}

.hero-banner-content__text a {
  display: inline;
}

@media screen and (pointer: fine) {
  .hero-banner-content__text a:hover {
    background-size: 0% 5%;
    background-position: right 90%;
    opacity: 0.8;
  }
}

.hero-banner-content__buttons-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.6rem;
  row-gap: 1.2rem;
}

.hero-banner-content__button--primary {
  background-color: #FFD62C;
  box-shadow: 0px 10px 20px 0px #0000000D;
}

@media screen and (max-width: 750px) {
  .hero-banner-content__subheading,
  .hero-banner-content__heading,
  .hero-banner-content__text {
    max-width: 315px;
  }
  .hero-banner-content__button--primary {
    width: 100%;
    justify-content: center;
  }
}

.hero-banner-content__button--primary .button__label {
  color: #000;
}

.hero-banner-content__button {
  flex-shrink: unset;
}

.ticker-banner {
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 40px;
  z-index: 1;
}

.ticker-banner::after {
  content: "";
  display: block;
  padding-bottom: var(--padding-bottom-mobile);
}

@media screen and (min-width: 990px) {
  .ticker-banner::after {
    padding-bottom: var(--padding-bottom-desktop);
  }
}

.ticker-banner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
  z-index: 1;
}

.ticker-banner-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.ticker-banner-main:not(:first-child) {
  margin-top: 2.4rem;
}

@media screen and (min-width: 576px) {
  .ticker-banner-main:not(:first-child) {
    margin-top: 3.2rem;
  }
}

@media screen and (min-width: 990px) {
  .ticker-banner-main:not(:first-child) {
    margin-top: 4rem;
  }
}

.ticker-banner-label {
  color: #1D81F9;
  background-color: #ffffff;
  text-transform: capitalize;
  cursor: default;
  font-size: 14px;
  line-height: 21px;
  padding: 6px 16px;
  border-radius: 50px;
  box-shadow: 0px 10px 20px 0px #B9BABE1A;

}

.ticker-banner-images {
  width: 100%;
  display: flex;
  align-items: center;
}

.ticker-banner-images--1 {
  justify-content: center;
}

.ticker-banner-images--1 .ticker-banner-image-wrapper {
  max-width: 60%;
}

@media screen and (min-width: 990px) {
  .ticker-banner-images--1 .ticker-banner-image-wrapper {
    max-width: none;
  }
}

.ticker-banner-images--2 {
  justify-content: space-evenly;
}

.ticker-banner-images--2 .ticker-banner-image-wrapper {
  max-width: 40%;
}

.ticker-banner-images--3 {
  justify-content: space-between;
  gap: 4rem;
  width: 140%;
  margin-left: -20%;
}

@media screen and (min-width: 576px) {
  .ticker-banner-images--3 {
    gap: 8rem;
    width: 134%;
    margin-left: -17%;
  }
}

@media screen and (min-width: 750px) {
  .ticker-banner-images--3 {
    gap: 12rem;
    width: 130%;
    margin-left: -15%;
  }
}

@media screen and (min-width: 990px) {
  .ticker-banner-images--3 {
    gap: 16rem;
    width: 124%;
    margin-left: -12%;
  }
}

@media screen and (min-width: 1200px) {
  .ticker-banner-images--3 {
    gap: 18rem;
    width: 120%;
    margin-left: -10%;
  }
}

@media screen and (min-width: 1360px) {
  .ticker-banner-images--3 {
    gap: 23.2rem;
  }
}

.ticker-banner-image {
  width: 100%;
  height: 100%;
  object-position: center;
  border-radius: var(--border-radius-block);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes swap {

  0%,
  50% {
    left: 0%;
  }

  50.01%,
  100% {
    left: 100%;
  }
}

.ticker-banner-ticker {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.ticker-banner-ticker--center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ticker-banner-ticker--under-images {
  margin-top: 12px;
}

@media screen and (min-width: 1200px) {
  .ticker-banner-ticker--under-images {
    margin-top: 20px;
  }
}

.ticker-banner-ticker-wrapper {
  display: inline-block;
  animation: marquee calc(var(--ticker-banner-ticker-speed) + 10s) linear infinite;
}

.ticker-banner-ticker-collection--1 {
  position: relative;
  left: 0%;
  animation: swap calc(var(--ticker-banner-ticker-speed) + 10s) linear infinite;
}

.ticker-banner-ticker-item {
  display: inline-block;
}

html:not(.no-js):not([dir=rtl]) .ticker-banner-ticker.animate-on-scroll {
  overflow: hidden;
  padding-bottom: 1rem;
  margin-bottom: -1rem;
  max-width: 1240px;
}

html:not(.no-js):not([dir=rtl]) .ticker-banner-ticker.animate-on-scroll .ticker-banner-ticker-wrapper {
  display: inline-block;
  animation: marquee calc(var(--ticker-banner-ticker-speed) + 10s) linear infinite;
  animation-play-state: paused;
}

html:not(.no-js):not([dir=rtl]) .ticker-banner-ticker.animate-on-scroll .ticker-banner-ticker-collection--1 {
  position: relative;
  left: 0%;
  animation: swap calc(var(--ticker-banner-ticker-speed) + 10s) linear infinite;
  animation-play-state: paused;
}

html:not(.no-js):not([dir=rtl]) .ticker-banner-ticker.animate-on-scroll .ticker-banner-ticker-item-word {
  display: inline-block;
  transform: translateY(150%) scaleY(1.2);
  transition-property: transform;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-delay: calc(3s / var(--ticker-overall-length) * var(--ticker-word-index));
}

html:not(.no-js):not([dir=rtl]) .ticker-banner-ticker.animate-on-scroll.animated .ticker-banner-ticker-wrapper {
  animation-play-state: running;
}

html:not(.no-js):not([dir=rtl]) .ticker-banner-ticker.animate-on-scroll.animated .ticker-banner-ticker-collection--1 {
  animation-play-state: running;
}

html:not(.no-js):not([dir=rtl]) .ticker-banner-ticker.animate-on-scroll.animated .ticker-banner-ticker-item-word {
  transform: translateY(0) scaleY(1);
}
