@keyframes productCardAnim {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
.products-carousel {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}
.products-carousel:empty {
  padding: 0;
  margin: 0;
}
.products-carousel__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.products-carousel__top-main .description {
  margin-bottom: 0;
}
.products-carousel__titles .products-carousel__title {
  max-width: 60rem;
}
.products-carousel__layout.swiper {
  overflow: hidden;
}
.products-carousel__layout.swiper-initialized .products-carousel__item {
  user-select: none;
}
.products-carousel__item .card-information {
  position: absolute;
  height: 160px;
  bottom: 0;
  left: 0;
  width: 100%;
}
.products-carousel__item .card-information::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 18.99%, #000000 90.36%);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.products-carousel__item .card-information .card__title {
  color: #ffffff;
  position: absolute;
  bottom: 40px;
  left: 20px;
  right: 20px;
}
@media screen and (max-width: 575px) {
  .products-carousel__item .card-information,
  .products-carousel__item .card-information::before {
    height: 80px;
  }
  .products-carousel__item .card-information .card__title {
    bottom: 20px;
  }
}
@media screen and (max-width: 575px) {
  .products-carousel__layout:not(.swiper-initialized) .products-carousel__slider .products-carousel__item:not(:last-child) {
    margin-right: 1.6rem;
  }
}
.products-carousel__navigation {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}
.products-carousel__navigation-button {
  color: rgb(var(--color-foreground));
  width: 40px;
  height: 40px;
  position: relative;
  box-shadow: 0px 10px 20px 0px #AAAAAA66;
  border-radius: 50%;
  background-color: #ffffff;
}
@media screen and (max-width: 575px) {
  .products-carousel__navigation-button {
    width: 32px;
    height: 32px;
  }
}
.products-carousel__navigation-button.swiper-button-disabled {
  opacity: 1;
  box-shadow: 0px 10px 20px 0px #AAAAAA66;
}
.products-carousel__navigation-button.swiper-button-disabled .icon {
  opacity: 0.5;
}
@media screen and (pointer: fine) {
  .products-carousel__navigation-button {
    transition: opacity var(--duration-default) ease, transform var(--duration-default) ease;
  }
  .products-carousel__navigation-button:hover {
    opacity: var(--hover-opacity);
  }
}
.products-carousel__navigation-button-next .icon {
  transform: rotate(180deg);
}
@media screen and (max-width: 575px) {
  .products-carousel--visible-overflow {
    overflow: hidden;
  }
  .products-carousel--visible-overflow .swiper-initialized.products-carousel__layout {
    overflow: visible;
  }
  .products-carousel--visible-overflow .products-carousel__item {
    width: calc(100% - 25px);
  }
  .products-carousel--visible-overflow .products-carousel__item:only-child {
    width: 100%;
  }
}

[data-layout=bar] .products-carousel__layout:not(.swiper-initialized) {
  overflow: hidden;
  margin-bottom: 0;
}
@media (min-width: 750px) {
  [data-layout=bar] .products-carousel__layout:not(.swiper-initialized) {
    max-width: calc(100vw - 4rem);
    margin-bottom: 6.8rem;
  }
}
@media (min-width: 1200px) {
  [data-layout=bar] .products-carousel__layout:not(.swiper-initialized) {
    max-width: calc(100vw - 16rem);
  }
}
@media (min-width: 1440px) {
  [data-layout=bar] .products-carousel__layout:not(.swiper-initialized) {
    max-width: 128rem;
  }
}
[data-layout=bar] .products-carousel__layout:not(.swiper-initialized) .products-carousel__item {
  width: 100%;
  flex-shrink: 0;
}
@media (min-width: 576px) {
  [data-layout=bar] .products-carousel__layout:not(.swiper-initialized) .products-carousel__item {
    width: calc((100% - 1.6rem) / 2);
  }
}
@media (min-width: 990px) {
  [data-layout=bar] .products-carousel__layout:not(.swiper-initialized) .products-carousel__item {
    width: calc((100% - 3.2rem) / 3);
  }
}
@media (min-width: 1360px) {
  [data-layout=bar] .products-carousel__layout:not(.swiper-initialized) .products-carousel__item {
    width: 30.8rem;
  }
}
@media (min-width: 576px) {
  [data-layout=bar] .products-carousel__layout:not(.swiper-initialized) .products-carousel__item:not(:last-child) {
    margin-right: 1.6rem;
  }
}

html:not(.no-js) .products-carousel .products-carousel__layout.animate-on-scroll {
  position: relative;
}
html:not(.no-js) .products-carousel .products-carousel__layout.animate-on-scroll .products-carousel__item {
  position: relative;
}
html:not(.no-js) .products-carousel .products-carousel__layout.animate-on-scroll .products-carousel__item .card-wrapper {
  position: relative;
  transform: translateY(20%);
}
html:not(.no-js) .products-carousel .products-carousel__layout.animate-on-scroll.animated .products-carousel__item .card-wrapper {
  animation: productCardAnim 1s linear(0, 0.1538 4.09%, 0.2926 8.29%, 0.4173 12.63%, 0.5282 17.12%, 0.6255 21.77%, 0.7099 26.61%, 0.782 31.67%, 0.8425 37%, 0.8887 42.23%, 0.9257 47.79%, 0.9543 53.78%, 0.9752 60.32%, 0.9883 67.11%, 0.9961 75%, 1) var(--pop-prod-item-delay, 0s) forwards;
}

.feature-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.feature-key__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding: 20px;
  border: 1px solid #DBDCE1;
  border-radius: 16px;
}
@media (min-width: 576px) {
  .feature-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
