.contact-form {
  padding: 40px 0;
}

@media (min-width: 750px) {
  .contact-form {
    padding: 60px 0;
  }
}

.contact-form__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  max-width: 1080px;
  margin: 0 auto;
  box-shadow: 0px 10px 20px 0px #94959F1A;
  border-radius: 16px;
  overflow: hidden;
}

.contact-form__form .content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 24px;
}

.field input {
  position: relative;
  padding-left: 50px;
}

.field.has-icon::before {
  display: block;
  content: "";
  position: absolute;
  left: 4px;
  top: 28px;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
}

.field.has-icon.name::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.582 18.196C23.582 19.991 22.127 21.446 20.332 21.446C18.5371 21.446 17.082 19.991 17.082 18.196C17.082 16.4011 18.5371 14.946 20.332 14.946C22.127 14.946 23.582 16.4011 23.582 18.196Z' stroke='%237F7D83' stroke-width='1.3'/%3E%3Cpath d='M26.3396 27.4976C25.2949 25.2244 22.9979 23.6459 20.3322 23.6459C17.6665 23.6459 15.3694 25.2244 14.3247 27.4976M29.832 20C29.832 25.2467 25.5787 29.5 20.332 29.5C15.0853 29.5 10.832 25.2467 10.832 20C10.832 14.7533 15.0853 10.5 20.332 10.5C25.5787 10.5 29.832 14.7533 29.832 20Z' stroke='%237F7D83' stroke-width='1.3'/%3E%3C/svg%3E");
}

.field.has-icon.company::before {
  background-image: url("data:image/svg+xml;utf8,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.2891 14.7891H24.2891M15.2891 25.21H20.2891M13.5 11H27.5C28.6046 11 29.5 11.8954 29.5 13V16.5789C29.5 17.6835 28.6046 18.5789 27.5 18.5789H13.5C12.3954 18.5789 11.5 17.6835 11.5 16.5789V13C11.5 11.8954 12.3954 11 13.5 11ZM13.5 21.4209H27.5C28.6046 21.4209 29.5 22.3163 29.5 23.4209V26.9998C29.5 28.1044 28.6046 28.9998 27.5 28.9998H13.5C12.3954 28.9998 11.5 28.1044 11.5 26.9998V23.4209C11.5 22.3163 12.3954 21.4209 13.5 21.4209Z' stroke='%237F7D83' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.field.has-icon.email::before {
  background-image: url("data:image/svg+xml;utf8,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 14.1634L19.3376 20.3489C20.0244 20.8585 20.9638 20.8587 21.651 20.3496L30 14.1634M12.9422 12.4001H28.0578C29.1304 12.4001 30 13.2697 30 14.3424V25.658C30 26.7306 29.1304 27.6002 28.0578 27.6002H12.9422C11.8696 27.6002 11 26.7306 11 25.658V14.3424C11 13.2697 11.8696 12.4001 12.9422 12.4001Z' stroke='%237F7D83' stroke-width='1.3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.field.has-icon.phone::before {
  background-image: url("data:image/svg+xml;utf8,%3Csvg width='41' height='40' viewBox='0 0 41 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 9.5H16.75C16.1533 9.5 15.581 9.73705 15.159 10.159C14.7371 10.581 14.5 11.1533 14.5 11.75V28.25C14.5 28.8467 14.7371 29.419 15.159 29.841C15.581 30.2629 16.1533 30.5 16.75 30.5H24.25C24.8467 30.5 25.419 30.2629 25.841 29.841C26.2629 29.419 26.5 28.8467 26.5 28.25V11.75C26.5 11.1533 26.2629 10.581 25.841 10.159C25.419 9.73705 24.8467 9.5 24.25 9.5H22M19 9.5V11H22V9.5M19 9.5H22M19 28.25H22' stroke='%237F7D83' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

}

.field label {
  margin-bottom: 4px;
}

.field.has-icon input {
  padding-left: 48px;
}

.field.half {
  width: calc(50% - 6px);
  float: left;
}

.field.half.left {
  margin-right: 6px;
}

.field.half.right {
  margin-left: 6px;
}

textarea#ContactFormMessage {
  width: 100%;
  height: 112px;
  margin-bottom: 16px;
}

.contact-form__button {
  width: 100%;
  height: 48px;
  display: flex;
}

@media (max-width: 750px) {
  .contact-form__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
  }

  .contact-form__form .content {
    padding: 0 16px 16px 16px;
  }

  .field.half {
    width: 100%;
    float: left;
  }

  .field.half.left {
    margin-right: 0;
  }

  .field.half.right {
    margin-left: 0;
  }
}
